extends layout

block content

  form(method="post")
    fieldset.form-group
      label(for="room_name") Room Name: 
      input.form-control(name="room_name" , type="text" , placeholder="Enter A Name", style="color:black" value="#{room.name}")
      small.text-muted Type here to deit the Room Name
    button.btn.btn-primary(type="submit") Edit Chatroom Name
    a.btn.btn-default(href="#{baseUrl}/rooms") Back    